{% load mathfilters %}

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <br><br>

            <p>
                <h3>Barra de progreso</h3>
            </p>
            <div class="progress" style="height: 30px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                     style="width:33%" role="progressbar"
                     aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
            </div>

            <hr>

            <h3>Barra de progreso dinámico desde función jquery</h3>
            <div class="progress" style="height: 30px;">
                <div id="moving-progress-bar"
                     class="progress-bar bg-info progress-bar-striped"
                     role="progressbar"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ></div>
            </div>

            <hr>

            <p>
                <h3>Bucle</h3>
            </p>
            <div id="progressbar" class="progress" style="height: 30px;">
                {% comment %}
                {% for i in '0123456789'|make_list %}
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                         style="width:{{ forloop.counter|mul:10 }}%" role="progressbar"
                         aria-valuenow="{{ forloop.counter|mul:10 }}"
                         aria-valuemin="0"
                         aria-valuemax="100">{{ forloop.counter|mul:10 }}%</div>
                {% endfor %}
                {% endcomment %}

                <div id="mybar"
                     class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                     style="width:0%"
                     role="progressbar"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>

            </div>
            <a href="#" id="ajaxButton" onclick="lanzarProceso()" data-url="{% url 'call_ajax' %}">Lanzar proceso</a>
            <!-- to fill out from AJAX response -->
            <div id="something" class="text-danger"></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type="text/javascript">
            $(function() {
              var progressed = 80;
              var interval = setInterval(function() {
                  progressed += 1;
                  $("#moving-progress-bar")
                  .css("width", progressed + "%")
                  .attr("aria-valuenow", progressed)
                  .text(progressed + "% progress");
                  if (progressed >= 100)
                      clearInterval(interval);
              }, 100);
            });

            $("#ajaxButton").click(function() {
                data_id = $(this).data('id')
                data_url = $(this).data('url')

                percent = $('#mybar').attr('aria-valuenow')

                $.ajax({
                    url: data_url,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: {'current': percent },
                    success: function (result) {
                        // $('#something').prepend("<p>" + result.message + "</p>");
                        $('#progressbar').html(result.html);
                        $('#something').html("<p>" + result.message + "</p>");
                    }
                });
            });
        </script>
    </body>
</html>