{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>        
        <button type="submit">Login</button>
    </form>
{% endblock %}

{% comment %}
    {% if form.errors %}
        <p>Su nombre de usuario y contraseña no coinciden. Inténtalo de nuevo.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Su cuenta no tiene acceso a esta página. Para continuar, inicie sesión con una cuenta que tenga acceso.</p>
        {% else %}
            <p>Inicia sesión para ver esta página.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}

        <div>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </div>
        
        <div>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </div>

        <div>
            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>
    
    {# Asume que configuró la vista de restablecimiento de contraseña en su URLconf #}
    <p>
        <a href="{% url 'password_reset' %}">Lost password?</a>
    </p>

{% endcomment %}