{% extends 'accounts/base.html' %}
{% load static %}

{% block content %}
    {% if validlink %}
        <h1>Ingrese la nueva contraseña</h1>

        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>        
            <input type="submit" value="Cambiar mi contraseña">
        </form>
            
    {% else %}
        <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se ha utilizado.</p>
        <p>Solicite un nuevo restablecimiento de contraseña.</p>

    {% endif %}
{% endblock %}



